{% extends "base_header.html" %}
{% load static %}
{% block content %}
<script src="{% static 'core/rdf.js' %}" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style type="text/css">
		.node {
		  fill:#ddd;
		  stroke-width: 1.5px;
		}

		.link {
		  stroke: #999;
		  stroke-opacity: .6;
		  stroke-width: 1px;
		}

		marker {
			stroke: #999;
			fill:rgba(124,240,10,0);
		}

		.node-text {
		  font: 11px sans-serif;
		  fill:black;
		}

		.link-text {
		  font: 9px sans-serif;
		  fill:grey;
		}

		svg{
			border:1px solid black;
		}
	</style>

</head>
<body style="margin:20px;">
  <form action="/rdf/" method="post">
    {% csrf_token %}
        <div class="form-group">
          <label for="node-select" class="col-form-label">Select Starting Point:</label>
          <select class="form-control" id="node-select" name="node-select">
            {% for option in your_nodes %}
              <option value="{{ option.value }}"{% if targetNode == "'"|add:option.value|add:"'" %}selected{% endif %}>{{ option.label }}</option>
            {% endfor %}
          </select>

        <button type="submit" name="SubmitQuestion"  class="btn btn-primary">Submit</button>
        <label for="search-term" class="col-form-label">Search for:</label>
        <input type="text" id="search-term" name="search-term"/>
        <button type="button" name="SubmitSearch" id = 'search-button' class="btn btn-primary">Search</button>
  </form>
  <div id="svg-body" class="panel-body"></div>
  <div id="info-container">
  <!-- Information will be displayed here -->
  </div>




</body>
<script>
  window.onload = function () {
  // We render via Django template
    triples = {{triples|safe}}
    targetNode = {{targetNode|safe}}
    setrdf(triples, targetNode);
    startHere();
  }
</script>
{% endblock %}
