{% extends "base_header.html" %}
{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{% static 'core/rdf.js' %}" defer></script>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style type="text/css">
		.node {
		  fill:#ddd;
		  stroke-width: 1.5px;
		}

		.link {
		  stroke: #999;
		  stroke-opacity: .6;
		  stroke-width: 1px;
		}

		marker {
			stroke: #999;
			fill:rgba(124,240,10,0);
		}

		.node-text {
		  font: 11px sans-serif;
		  fill:black;
		}

		.link-text {
		  font: 9px sans-serif;
		  fill:grey;
		}

		svg{
			border:1px solid black;
		}
	</style>

</head>
<body style="margin:20px;">
  <form action="/rdf/" method="post">
    {% csrf_token %}
        <div class="form-group">
          <label for="target-node" class="col-form-label">Target Node (test example: http://purl.obolibrary.org/obo/OOSTT_154/trauma_program ):</label>
          <input type="text" class="form-control" id="target-node" name="target-node"></text>
          <label for="target-graph" class="col-form-label">Target Graph (test example: https://cafe-trauma.com/cafe/organization/154/question/1004 ):</label>
          <input type="text" class="form-control" id="target-graph" name="target-graph"></text>
        </div>
        <hr>
        <div class="form-group">
          <label for="node-select" class="col-form-label">Your Nodes:</label>
          <select class="form-control" id="node-select" name="node-select">
            {% for option in your_nodes %}
              <option value="{{ option.value }}"{% if targetNode == "'"|add:option.value|add:"'" %}selected{% endif %}>{{ option.label }}</option>
            {% endfor %}
          </select>

        <button type="submit" name="SubmitQuestion"  class="btn btn-primary">Submit</button>
  </form>
  <div id="svg-body" class="panel-body"></div>
  <div id="info-container">
  <!-- Information will be displayed here -->
  </div>

<div class="controls">
  <div class="force alpha">
    <p><label>alpha</label> Simulation activity</p>
    <div class="alpha_bar" onclick="updateAll();"><div id="alpha_value"></div></div>
  </div>
  <div class="force">
    <p><label>center</label> Shifts the view, so the graph is centered at this location.</p>
    <label>
      x
      <output id="center_XSliderOutput">.5</output>
      <input type="range" min="0" max="1" value=".5" step="0.01" oninput="d3.select('#center_XSliderOutput').text(value); forceProperties.center.x=value; updateAll();">
    </label>
    <label>
      y
      <output id="center_YSliderOutput">.5</output>
      <input type="range" min="0" max="1" value=".5" step="0.01" oninput="d3.select('#center_YSliderOutput').text(value); forceProperties.center.y=value; updateAll();">
    </label>
  </div>

  <div class="force">
    <p><label><input type="checkbox" checked onchange="forceProperties.charge.enabled = this.checked; updateAll();"> charge</label> Attracts (+) or repels (-) nodes to/from each other.</p>
    <label title="Negative strength repels nodes. Positive strength attracts nodes.">
      strength
      <output id="charge_StrengthSliderOutput">-30</output>
      <input type="range" min="-200" max="50" value="-30" step=".1" oninput="d3.select('#charge_StrengthSliderOutput').text(value); forceProperties.charge.strength=value; updateAll();">
    </label>
    <label title="Minimum distance where force is applied">
      distanceMin
      <output id="charge_distanceMinSliderOutput">1</output>
      <input type="range" min="0" max="50" value="1" step=".1" oninput="d3.select('#charge_distanceMinSliderOutput').text(value); forceProperties.charge.distanceMin=value; updateAll();">
    </label>
    <label title="Maximum distance where force is applied">
      distanceMax
      <output id="charge_distanceMaxSliderOutput">2000</output>
      <input type="range" min="0" max="2000" value="2000" step=".1" oninput="d3.select('#charge_distanceMaxSliderOutput').text(value); forceProperties.charge.distanceMax=value; updateAll();">
    </label>
  </div>

  <div class="force">
    <p><label><input type="checkbox" checked onchange="forceProperties.collide.enabled = this.checked; updateAll();"> collide</label> Prevents nodes from overlapping</p>
    <label>
      strength
      <output id="collide_StrengthSliderOutput">.7</output>
      <input type="range" min="0" max="2" value=".7" step=".1" oninput="d3.select('#collide_StrengthSliderOutput').text(value); forceProperties.collide.strength=value; updateAll();">
    </label>
    <label title="Size of nodes">
      radius
      <output id="collide_radiusSliderOutput">5</output>
      <input type="range" min="0" max="100" value="5" step="1" oninput="d3.select('#collide_radiusSliderOutput').text(value); forceProperties.collide.radius=value; updateAll();">
    </label>
    <label title="Higher values increase rigidity of the nodes (WARNING: high values are computationally expensive)">
      iterations
      <output id="collide_iterationsSliderOutput">1</output>
      <input type="range" min="1" max="10" value="1" step="1" oninput="d3.select('#collide_iterationsSliderOutput').text(value); forceProperties.collide.iterations=value; updateAll();">
    </label>
  </div>

  <div class="force">
    <p><label><input type="checkbox" onchange="forceProperties.forceX.enabled = this.checked; updateAll();"> forceX</label> Acts like gravity. Pulls all points towards an X location.</p>
    <label>
      strength
      <output id="forceX_StrengthSliderOutput">.1</output>
      <input type="range" min="0" max="1" value=".1" step="0.01" oninput="d3.select('#forceX_StrengthSliderOutput').text(value); forceProperties.forceX.strength=value; updateAll();">
    </label>
    <label title="The X location that the force will push the nodes to (NOTE: This demo multiplies by the svg width)">
      x
      <output id="forceX_XSliderOutput">.5</output>
      <input type="range" min="0" max="1" value=".5" step="0.01" oninput="d3.select('#forceX_XSliderOutput').text(value); forceProperties.forceX.x=value; updateAll();">
    </label>
  </div>

  <div class="force">
    <p><label><input type="checkbox" onchange="forceProperties.forceY.enabled = this.checked; updateAll();"> forceY</label> Acts like gravity. Pulls all points towards a Y location.</p>
    <label>
      strength
      <output id="forceY_StrengthSliderOutput">.1</output>
      <input type="range" min="0" max="1" value=".1" step="0.01" oninput="d3.select('#forceY_StrengthSliderOutput').text(value); forceProperties.forceY.strength=value; updateAll();">
    </label>
    <label title="The Y location that the force will push the nodes to (NOTE: This demo multiplies by the svg height)">
      y
      <output id="forceY_YSliderOutput">.5</output>
      <input type="range" min="0" max="1" value=".5" step="0.01" oninput="d3.select('#forceY_YSliderOutput').text(value); forceProperties.forceY.y=value; updateAll();">
    </label>
  </div>

  <div class="force">
    <p><label><input type="checkbox" checked onchange="forceProperties.link.enabled = this.checked; updateAll();"> link</label> Sets link length</p>
    <label title="The force will push/pull nodes to make links this long">
      distance
      <output id="link_DistanceSliderOutput">30</output>
      <input type="range" min="0" max="100" value="30" step="1" oninput="d3.select('#link_DistanceSliderOutput').text(value); forceProperties.link.distance=value; updateAll();">
    </label>
    <label title="Higher values increase rigidity of the links (WARNING: high values are computationally expensive)">
      iterations
      <output id="link_IterationsSliderOutput">1</output>
      <input type="range" min="1" max="10" value="1" step="1" oninput="d3.select('#link_IterationsSliderOutput').text(value); forceProperties.link.iterations=value; updateAll();">
    </label>
  </div>
</div>



</body>
<script>
  window.onload = function () {
  // We render via Django template
    triples = {{triples|safe}}
    targetNode = {{targetNode|safe}}
    setrdf(triples, targetNode);
    startHere();
  }
</script>
{% endblock %}
